{% extends 'base.html' %}
{% block body %}


  <div class="container-fluid">
    <div class="row col-md-10">

      <main role="main" class="col-md-8 ml-sm-auto col-lg-10 px-4">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align="center">
          <p>logo</p>
        </div>

      </div>

        <div class="row">
          {% for service in object_list %}


            <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12" align="center">

              <div class="box-part text-center">

                <img src="media/{{ service.icon }}" alt="{{ service.title }}">

                <div class="title">
                  <h4>{{ service.title }}</h4>
                </div>

                <div class="text">
                  <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                </div>

                <a href="{{ request.build_absolute_uri }}{{ service.get_absolute_url }}">Learn More</a>

              </div>
            </div>



          {% empty %}
            <li>Ingen tjenester funnet</li>
          {% endfor %}

        </div>

      </main>
    </div>

  </div>


{% endblock %}
